@import url('login.css');

.in_image img{
    border: 4px solid violet;
    border-radius: 50%;
    width: 300px;
    height: 300px;

}

.petname{
    margin: 20px;
    font-size: 1rem;
}

.petname input{
    text-align: center;
}

#type{
    font-size: 1.2rem;
}

#type option{
    font-size: 0.8rem;
}

