@import url(../common.css);

.write_wrap{
    border: 2px solid #222222;
    width: 80%;
    margin: 10px auto;
}

.write_wrap .title{
    margin: auto;
    display: flex;
    width: 95%;
    padding: 10px;
    border-bottom: 2px dashed #222222;
}

.write_wrap .col_label{
    margin-top: 8px;
    width: 6rem;
    font-size: 1.2rem;
}

.write_wrap .col_input input{
    box-sizing: border-box;
    background-color: black;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
}

.write_wrap .movie_title_wrap{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 95%;
    padding: 10px;
    border-bottom: 2px dashed #222222;
}

.write_wrap .movie_title_wrap .movie_title{
    display: flex;
    width: 50%;
}

.write_wrap .content{
    padding: 10px;
}

.write_wrap .content textarea{
    font-size: 1rem;
    background-color: black;
    width:95%;
    box-sizing: border-box;
    height: 30rem;
    padding: 1rem;
    color: white;
    resize: none;
}
.write_wrap .btn_wrap{
    height: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.write_wrap .btn_wrap button{
    box-sizing: border-box;
    width: 4rem;
    font-size: 1.2rem;
    background-color: black;
    border: 2px solid #222222;
    border-radius: 4px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.write_wrap .btn_wrap a{
    box-sizing: border-box;
    display: inline-block;
    width: 4rem;
    font-size: 1.2rem;
    background-color: black;
    border: 2px solid #222222;
    border-radius: 4px;
    color: white;
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
}